* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 26px;
}
body {
  background-color: #333;
  
}
.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

h1 {
  margin: 0 auto 50px 0;
  text-align: center;
  font-size: 72px;
  color: #ccc;
}

.craft-table {
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  width: 60vh;
  height: 60vh;

}

.table-cell {
  border: 1px solid #ccc;
  width: 20vh;
  height: 20vh;
}

.result-section {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 20vw;
}

.result {
  width: 30vh;
  height: 30vh;
  border: 1px solid #ccc;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.items > div {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  cursor: move;
  color: #ccc;
} 

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

.table-cell {
  display: flex;
  position: relative;
}

.table-cell:hover > .remove{
  display: flex;
}

.remove {
  background-color: brown;
  width: 15%;
  height: 15%;
  font-size: 80%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  display: none;
}

.btn-clear {
  width: 100px;
  height: 100px;
}

/* items*/
#stick {
  background-image: url('./images/stick.png');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#stone {
  background-image: url('./images/stone.png');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#wood {
  background-image: url('./images/wood.png');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#woodenPickaxe {
  background-image: url('./images/woodenPickaxe.png');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#woodenAxe {
  background-image: url('./images/woodenAxe.png');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#woodenSword{
  background-image: url('./images/woodenSword.webp');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#stonePickaxe {
  background-image: url('./images/stonePickaxe.png');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#stoneAxe {
  background-image: url('./images/stoneAxe.webp');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}

#stoneSword{
  background-image: url('./images/stoneSword.png');
  background-size: 80%;
  background-repeat:  no-repeat;
  background-repeat:  no-repeat;
  background-position: center;
}